body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff0f5; 
    padding-top: 70px; /* Ajout de padding pour compenser la navbar fixe */
}

.bg-pink {
    background-color: #ffc0cb; 
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
    color: #8b4b62; 
}

#content{
    position: relative;
    min-height: 100vh;
}
#content-wrap{
    padding-bottom: 2.5rem;
}
h1 {
    color: #db7093; /* Rose moyen */
    font-weight: 300;
}

p {
    color: #8b4b62; /* Rose foncé */
}

.dropdown-menu {
    background-color: #fff0f5; /* Fond rose très pâle */
    border: 1px solid #ffc0cb;
}
/* override de left = 0 (bootstrap)div dropdown menu se colle a gauche */
.dropdown-menu[data-bs-popper] {  
    left: auto;
}

.dropdown-item:hover {
    background-color: #ffc0cb; /* Rose pastel au survol */
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}